<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Test Environment Status</title>
    <style type="text/css">
        .env-status-table {
            font-family: sans-serif;
            font-size: 0.9em;
            text-align: center;
            margin: 50px;
            width: 800px;
            border: 1px black solid;
            border-collapse: collapse;
        }
        .env-status-table th {
            padding: 2px;
            border: 1px black solid;
            border-collapse: collapse;
            vertical-align: top;
            width: 25%;
            font-weight: bold;
        }
        .env-status-table td {
            padding: 2px;
            border: 1px black solid;
            border-collapse: collapse;
            vertical-align: middle;
            width: 25%;
            background-color: #FFFFCC;
        }
    </style>
  </head>
  <body>
    <br>
    <table class="env-status-table">
      <tbody>
        <tr>
          <th><b>$messages.environment</th>
          <th><b>$messages.task</th>
          <th><b>$messages.status</th>
          <th><b>$messages.lastRunTime</th>
        </tr>
        #foreach($envName in $envStatusTable.keySet())
        #set($refUrl = $envStatusTable.get($envName).get("refUrl"))
        #set($tasks = $envStatusTable.get($envName).get("tasks"))
        #if( $tasks.isEmpty() )
        <tr>
          #if($refUrl.isEmpty())
          <td>$envName</td>
          #else
          <td><a href="$refUrl">$envName</a></td>
          #end
          <td></td>
          <td></td>
          <td></td>
        </tr>
        #else
        <tr>
          #if($refUrl.isEmpty())
          <td rowspan="$tasks.size()">$envName<br></td>
          #else
          <td rowspan="$tasks.size()"><a href="$refUrl">$envName</a></td>
          #end
        #set($first = true)
        #foreach($taskName in $tasks.keySet())
        #if(!$first)
        #set($first = false)
        <tr>
        #end
          #set($task = $tasks.get($taskName))
          #set($taskStatus = $task.get("taskStatus"))
          #set($lastRunTime = $task.get("lastRunTime"))
          <td>$taskName</td>
          #if(!$taskStatus.isEmpty())
          <td>
            <img alt="$taskStatus" src="${baseUrl}/images/${taskStatus}" height="20" width="20">
          </td>
          #else
          <td></td>
          #end
          <td>$lastRunTime</td>
        </tr>
        #end
        #end
        #end
      </tbody>
    </table>
    <br>
  </body>
</html>