<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Test Metrics</title>

    <style type="text/css">
    	.measures-level0 {
            font-family: sans-serif;
            text-align: center;
            margin: 20px;
            width: 850px;
            border: 1px black solid;
            border-collapse: collapse;
        }
        .measures-level0 td {
            padding: 2px;
            vertical-align: middle;
            border: 1px black solid;
            border-collapse: collapse;
        }
        .measures-level1 {
            font-family: sans-serif;
            font-size: 0.8em;
            text-align: center;
            width: 100%;
            border: none;
            border-collapse: collapse;
        }
        .measures-level1 td {
            padding: 2px;
            vertical-align: middle;
            border: none;
            border-collapse: collapse;
        }
        .measures-level2 {
            background-color: #FFFFCC;
            font-family: sans-serif;
            font-size: 0.8em;
            text-align: center;
            width: 100%;
            border: 1px black solid;
            border-collapse: collapse;
        }
        .measures-level2 td {
            padding: 2px;
            vertical-align: top;
            border: 1px black solid;
            border-collapse: collapse;
        }
        .alwaysBad {
            color: #CC0000;
            font-weight:bold;
        }
        .degrading {
        	color: #FF0000;
        	font-weight: bold;
        }
        .upgrading {
        	color: #33CC00;
        	font-weight: bold;
        }
        .alwaysGood {
        	color: #006600;
        	font-weight: bold;
        }
    </style>

    <script>
        function signoff() {
            var selects = document.getElementsByTagName("select");
            for(var i = selects.length-1; i >= 0; i--){
                var select = selects.item(i);
                var option = select.options[select.selectedIndex];
                select.parentNode.innerHTML = "<img src=\"${baseUrl}/images/" + 
                        option.value + ".png\" alt=\"" + option.text + "\"></img>";
            }
            var button = document.getElementById("signoff");
            button.parentNode.innerHTML = "<b><big>$messages.signoff<br></big></b>";
            xmlhttp=new XMLHttpRequest();
            xmlhttp.open("POST","${baseUrl}/${serviceName}",true);
            xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var postData = "action=update&filename=" + encodeURIComponent("${filename}")
                    + "&replacement=" + encodeURIComponent(document.getElementById("reportBodyToUpdate").innerHTML);
            xmlhttp.send(postData);
        }
    </script>
  </head>
  <body>
  <br>
  <div id="reportBodyToUpdate">
    <table class="measures-level0">
      <tbody>
        <tr>
          <td width="250"><b><big>$messages.project<br></big></b></td>
          <td><b><big>$messages.testMetrics<br></big></b></td>
          <td><button id="signoff" onclick="signoff()">$messages.signoff</button></td>
        </tr>
        #foreach($project in $testMetricsTable.keySet())
        #set($metrics = $testMetricsTable.get($project))
        <tr>
          <td style="font-size: 0.8em;" width="250"><b>$project</b><br></td>
          <td>
            <table class="measures-level1">
              <tbody>
                <tr>
                  <td>$messages.totalTests<br></td>
                  <td><b>$metrics.testsTotal</b><br></td>
                </tr>
                <tr>
                  <td>$messages.groups<br></td>
                  <td><b>$metrics.allRelatedTags</b><br></td>
                </tr>
                <tr>
                  <td>$messages.robustness<br></td>
                  <td>
                    <table class="measures-level2">
                      <tbody>
                        <tr>
                          <td>$messages.alwaysBad<br></td>
                          <td>$messages.degrading<br></td>
                          <td>$messages.upgrading<br></td>
                          <td>$messages.alwaysGood<br></td>
                        </tr>
                        <tr>
                          <td class="alwaysBad">$metrics.alwaysBadNum<br></td>
                          <td class="degrading">$metrics.degradingNum<br></td>
                          <td class="upgrading">$metrics.upgradingNum<br></td>
                          <td class="alwaysGood">$metrics.alwaysGoodNum<br></td>
                        </tr>
                        <tr>
                          <td class="alwaysBad">$metrics.alwaysBadPercentage<br></td>
                          <td class="degrading">$metrics.degradingPercentage<br></td>
                          <td class="upgrading">$metrics.upgradingPercentage<br></td>
                          <td class="alwaysGood">$metrics.alwaysGoodPercentage<br></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>$messages.effectiveness<br>
                  </td>
                  <td>
                    <table class="measures-level2">
                      <tbody>
                        <tr>
                          <td>$messages.totalFailures<br></td>
                          <td>$messages.falseFailures<br></td>
                          <td>$messages.relatedBugs<br></td>
                        </tr>
                        <tr>
                          <td><b>$metrics.failuresTotal</b><br></td>
                          <td><b>$metrics.falseFailuresNum</b><br></td>
                          <td><b>$metrics.relatedBugsNum</b><br></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>$messages.efficiency<br></td>
                  <td>
                    <table class="measures-level2">
                      <tbody>
                        <tr>
                          <td>$messages.totalTime<br></td>
                          <td>$messages.avgTime<br></td>
                          <td>$messages.volatility<br></td>
                        </tr>
                        <tr>
                          <td><b>$metrics.totalTime ms</b><br></td>
                          <td><b>$metrics.avgTime ms</b><br></td>
                          #if($metrics.minVolatility == $metrics.maxVolatility)
                          <td><b>$metrics.maxVolatility</b><br></td>
                          #else
                          <td><b>$metrics.minVolatility ~ $metrics.maxVolatility</b><br></td>
                          #end
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <select>
              <option value="accept">$messages.accept</option>
              <option value="refuse">$messages.refuse</option>
            </select>
          </td>
        </tr>
        #end
      </tbody>
    </table>
  </div>
  <br>
  </body>
</html>