/** Add CSS styles here for your application. */
.heading {
	font-size: 1.2em;
	font-weight: bold;
	font-family: "Courier New", Arial, serif;
	color: #FF9900;
}

.footing {
	text-align: center;
}

.cleanGridCell,
.cleanGridCellDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#ffffff;
}
.cleanGridCellOver,
.cleanGridCellOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#c0ffc0;
}
.cleanGridCellSelected,
.cleanGridCellSelectedDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:white;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#000080;
}
.cleanGridCellSelectedOver,
.cleanGridCellSelectedOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:white;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#8080ff;
}
.cleanGridCellDisabled,
.cleanGridCellDisabledDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:#808080;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#ffffff;
}